body {
    font-family: 'Merriweather', serif;
    background-color: #e6ccff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    color: #800080;
    padding: 15px;
    text-align: center;
}

main {
    text-align: center;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}